<header>
    <div class="navbar">
        <div class="w-full flex">
            <img src="assets/images/logo.png" width="69px">
            <div>
                <p class="font-extrabold">JAYSON REYES</p>
                <p class="text-[8px]">FRONT-END DEVELOPER</p>
            </div>
        </div>
        <ul class="w-full">
            <li class="text-lm"><a href="#">HOME</a></li>
            <li class="text-lm"><a href="#">PROJECTS</a></li>
            <li class="text-lm"><a href="#">CONTACT ME</a></li>
            <li class="text-lm"><a href="#">ABOUT ME</a></li>
        </ul>
        <!-- darktheme -->
        <div class="w-full flex justify-end">
            <div class="toggle-switch">
                <label class="switch-label">
                  <input type="checkbox" class="checkbox">
                  <span class="slider"></span>
                </label>
            </div>  
        </div>
    </div>
</header>
<br><br><br>
<section class="flex justify-around items-center w-full h-cover">
    <div>
        <div>
            <strong class="text-[50px] text-[#FBAF03]">Hello I'm Jayson Reyes</strong>
            <p>FRONT-END,UI/UX DESIGNER, GRAPHIC ARTIST, FREELANCER</p>
        </div>
        <div class=" flex gap-4 mt-5">
            <img src="assets\images\coding.png" width="30px">
            <img src="assets\images\graphic-designer.png" width="30px">
            <img src="assets\images\photography.png" width="30px">
        </div>
        <div class="mt-2">
            <p>I am a graduate at Bulacan State University having a degree of Bachelor<br>
                of Science in information Technology, 22 yrs/old.  Good Communication<br>Skills and Fresh Graduate but having a different experience in the field of<br>it Industry.</p>
        </div>
        <div class="mt-2">
            <button class="btn-primary">
                CONTACT ME
            </button>
        </div>
    </div>
    <!-- side picture -->
    <div>
        <div class="flex items-center">   
            <img class="" src="assets\images\profile_new.png" width="442px">
        </div>
    </div>
</section>
<div class="absolute z-[-1] -translate-y-[200px] w-full">
    <img class="object-cover"src = "assets\images\NEW WAVE1.png" width="100%">
</div>
<section class="mt-[250px]">
    <div class="text-center w-full flex justify-center items-center flex-col">
        <strong class="font-extrabold">SERVICES</strong>
        <strong class="text-[20px] font-extrabold">What I am Great at</strong>
        <p class="w-[516px]">
            Creating Powerpoint and designing Using Figma and dobe XD to Create a DifferentUI/UX Design. Im good at Photoshop and Illustrator. i learn a different language tocreate a website using HTML,JAVASCRIPT,DJANGO,ANGULAR,PYTHON,PHP, and My SQL is for the Data Base. Visual Studio is My coding Platform
        </p>
    </div>
</section>
<br><br>
<section class="w-full flex justify-center gap-5">
    <div class="w-[188px] h-[188px] bg-[#1E1E1E] rounded-[10px] text-[#ffff] flex flex-col justify-center items-center">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-20 h-20">
            <path stroke-linecap="round" stroke-linejoin="round" d="M14.25 9.75L16.5 12l-2.25 2.25m-4.5 0L7.5 12l2.25-2.25M6 20.25h12A2.25 2.25 0 0020.25 18V6A2.25 2.25 0 0018 3.75H6A2.25 2.25 0 003.75 6v12A2.25 2.25 0 006 20.25z" />
        </svg>          
        <p>
            CODING
        </p>
        <p>
            3 PROJECTS
        </p>
    </div>
    <div class="w-[188px] h-[188px] bg-[#1E1E1E] rounded-[10px] text-[#ffff] flex flex-col justify-center items-center">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-20 h-20">
            <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
        </svg>          
        <p>
            CODING
        </p>
        <p>
            3 PROJECTS
        </p>
    </div>
    <div class="w-[188px] h-[188px] bg-[#1E1E1E] rounded-[10px] text-[#ffff] flex flex-col justify-center items-center">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-20 h-20">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 17.25v1.007a3 3 0 01-.879 2.122L7.5 21h9l-.621-.621A3 3 0 0115 18.257V17.25m6-12V15a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 15V5.25m18 0A2.25 2.25 0 0018.75 3H5.25A2.25 2.25 0 003 5.25m18 0V12a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 12V5.25" />
        </svg>
          
        <p>
            CODING
        </p>
        <p>
            3 PROJECTS
        </p>
    </div>
    <div class="w-[188px] h-[188px] bg-[#1E1E1E] rounded-[10px] text-[#ffff] flex flex-col justify-center items-center">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-20 h-20">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9.53 16.122a3 3 0 00-5.78 1.128 2.25 2.25 0 01-2.4 2.245 4.5 4.5 0 008.4-2.245c0-.399-.078-.78-.22-1.128zm0 0a15.998 15.998 0 003.388-1.62m-5.043-.025a15.994 15.994 0 011.622-3.395m3.42 3.42a15.995 15.995 0 004.764-4.648l3.876-5.814a1.151 1.151 0 00-1.597-1.597L14.146 6.32a15.996 15.996 0 00-4.649 4.763m3.42 3.42a6.776 6.776 0 00-3.42-3.42" />
        </svg>          
        <p>
            DESIGN
        </p>
        <p>
            3 PROJECTS
        </p>
    </div>
</section>
<br><br><br><br>
<section class="w-full bg-center bg-cover p-20 flex justify-center items-center gap-[35px]" style="background-image: url(assets/images/bg_new.jpg);">
    <div class="flex flex-col items-center">
       <strong class="text-[25px] text-[#fbaf03]">3+</strong>
       <strong class="text-[#FFFFFF]"> Years of experience</strong>
    </div>
    <div class="flex flex-col items-center">
        <strong class="text-[25px] text-[#fbaf03]">25+</strong>
        <strong class="text-[#FFFFFF]"> Satisfied Customer</strong>
     </div>
     <div class="flex flex-col items-center">
        <strong class="text-[25px] text-[#fbaf03]">50+</strong>
        <strong class="text-[#FFFFFF]"> Design Items</strong>
     </div>
     <div class="flex flex-col items-center">
        <strong class="text-[25px] text-[#fbaf03]">15+</strong>
        <strong class="text-[#FFFFFF]"> Client Serve</strong>
     </div>
</section>
<br><br><br><br>
